/* ############# imagen de fondo ############## */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: auto;
    background-image: url(Imagenes/fotociudad.png);
    background-size: cover;
    background-position: auto;
}

@media screen and (min-width: 480px) {
body {
background-image: url(Imagenes/fondoscuro.png);
background-size: 100%;
background-position: auto;
padding: auto;}
} 

/* ############# ############## */
/* ############# inicio de pagina ############## */

header {
    background-color: #333;
    color: #fff;
    padding: auto ;
}

/* ############# ############## */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0 ;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ############# ############## */
/* ############# centrar la tabla ############## */

.tabla {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabla h1 {
    color:rgb(227, 10, 10);
    font-weight:bolder;
    font-family:Helvetica;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* ############# ############## */
/* ############# final de pagina ############## */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* ############# ############## */
/* ############# centra el quienes somos junto con el texto que tiene abajo y lo encierra en un contenedor ############## */

.quienessomos {
    color:rgb(0, 0, 0);
    font-weight:bolder;
    font-family:Helvetica;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

/* ############# ############## */
/* ############# Posicion de la imagen de titulo, color, tamaño de fuente por encima de la imagen ############## */

.relative {
    position: relative;
}

.imagen {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.316); 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1{
    color: white;
    text-align: center;
    padding: 20px;
    font-weight:lighter;
    font-size: 75px;
    font-family:fantasy;
}

/* ############# ############## */
/* ############# centrar, color y fuente ############## */

.contacto h2{
    color:rgb(0, 0, 0);
    font-weight:bolder;
    font-family:Helvetica;
    text-align: center;
}

.contacto{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    margin-top: 2px;
}

/* ############# ############## */
/* ############# contenedores de imagenes y parrafo(p) ############## */

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: #ff0cb6;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.grid-container p{
    color:rgb(0, 0, 0);
    font-weight:bolder;
    font-family:Helvetica;
}
